{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>美食系列</title>
{% endblock %}

{% block content %}
        <ul class="breadnav clearfix">
			<li class="bnav-item"><a href="index.html">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="meishi.html">美食系列</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="javascript:;">全部菜品</a></li>
		</ul>
		<div class="clearfix table-wrap" id="tab-span">
                <span class="table-item table-active">全部菜品</span>
                {% for type in type_list %}
                    <span class="table-item">{{ type.type_name }}</span>
                {% endfor %}
                <span class="table-item">其他</span>
			<div class="search clearfix">
				<input class="inp-txt" type="text" name="address" value="输入关键字"
				onfocus="if(this.value=='输入关键字'){this.value=''};this.style.color='black';"
				onblur="if(this.value==''||this.value=='输入关键字'){this.value='输入关键字';this.style.color='gray';}" />
				<input class="inp-btn" type="button" name="" id="" value="搜索" />
			</div>
		</div>
		<div id="table-div">
			<div class="table-pic table-show clearfix">
            {% for type in type_list %}
                {% for goods in type.goods_type_set.all %}
                <a href="{% url 'meishi:meishi_detail' goods.goods.id %}" class="ms-wrap ms-right">
                    <span class="ms-pic">
                        <img src="/static/{{ goods.goods.image }}" alt="{{ goods.goods.goods_name }}" />
                    </span>
                    <h2 class="ms-tit">{{goods.goods.goods_name }}</h2>
                    <p class="ms-txt">价格：{{ goods.goods.price }}</p>
                </a>
                 {% endfor %}
            {% endfor    %}

	</div>

            {% for type in type_list %}
			<div class="table-pic clearfix">
                {% for g in type.goods_type_set.all %}
				<a href="{% url 'meishi:meishi_detail' g.goods.id %}" class="ms-wrap ms-right">
					<span class="ms-pic">
						<img src="/static/{{g.goods.image}}" alt="" />
					</span>
					<h2 class="ms-tit">{{ g.goods.goods_name }}</h2>
					<p class="ms-txt">价格：{{ g.goods.price }}</p>
				</a>
				    {% endfor %}
			</div>
            {% endfor %}

		</div>

{% endblock %}

{% block script %}
    	<script type="text/javascript">
		//导航当前项切换
		$(".nav-item").click(function(){
			$(this).parent("li").siblings().children().removeClass("nav-active");
			//点击对象的父级（li）的兄弟级（li）的子集（a）移除类
			$(this).addClass("nav-active");
			//给点击对象添加类
		});
		//美食系列当前项切换
		$(".table-item").click(function(){
			$(this).siblings().removeClass("table-active");
			$(this).addClass("table-active");
		});
	    //美食系列table切换
	    var oSpan = document.getElementById("tab-span");
			var spans = oSpan.querySelectorAll("span");
			var oDiv  = document.getElementById("table-div");
			var divs = oDiv.querySelectorAll("div");
			var last=spans[0];
			for(var i=0;i<spans.length;i++){
					spans[i].index=i;  //给每一个按钮添加一个自定义属性，存储的是他们对应的索引值；
					spans[i].onclick=function(){
						divs[last.index].style.display="none"; //上一个对应的div，让他隐藏
						divs[this.index].style.display="block"; //当前点击按钮对应的div显示
						last=this; 	//把上一次点击的对象更新成当前点击的对象
					};
				};
	</script>
{% endblock %}

