{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>新闻资讯</title>
{% endblock %}

{% block content %}
		<ul class="breadnav clearfix">
			<li class="bnav-item"><a href="index.html">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="news.html">新闻资讯</a></li>
		</ul>
		<div class="newslist-wrap">
			<p class="newslist-tit">新闻资讯</p>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="../../static/img/news-pic1.jpg"/>
				</dt>
				<dd class="newslist-txt">
					<a href="../new_html/news-con.html" class="newslist-font24">西餐代表 牛排的种类和吃法</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<p class="newslist-time">2016.12.25</p>
						</li>
						<li class="newslist-li">
							<a href="../new_html/news-con.html" class="newslist-con">提到牛排，脑子里就会想到焦棕褐色、表面扶着香甜的肉汁，切开后的粉红肉质，入口之后留下的满口肉香。吃牛排其实是非常讲究的，精致的牛肉配上美味的香料，加以烹调，是款待尊贵客人的最佳美食。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="../new_html/news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<span class="news-line">
				<img src="../../static/img/news-line.png"/>
			</span>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="../../static/img/news-pic2.jpg"/>
				</dt>
				<dd class="newslist-txt">
					<a href="../new_html/news-con.html" class="newslist-font24">西餐代表 牛排的种类和吃法</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<p class="newslist-time">2016.12.25</p>
						</li>
						<li class="newslist-li">
							<a href="../new_html/news-con.html" class="newslist-con">提到牛排，脑子里就会想到焦棕褐色、表面扶着香甜的肉汁，切开后的粉红肉质，入口之后留下的满口肉香。吃牛排其实是非常讲究的，精致的牛肉配上美味的香料，加以烹调，是款待尊贵客人的最佳美食。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="../new_html/news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<span class="news-line">
				<img src="../../static/img/news-line.png"/>
			</span>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="../../static/img/news-pic3.jpg"/>
				</dt>
				<dd class="newslist-txt">
					<a href="../new_html/news-con.html" class="newslist-font24">西餐代表 牛排的种类和吃法</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<p class="newslist-time">2016.12.25</p>
						</li>
						<li class="newslist-li">
							<a href="../new_html/news-con.html" class="newslist-con">提到牛排，脑子里就会想到焦棕褐色、表面扶着香甜的肉汁，切开后的粉红肉质，入口之后留下的满口肉香。吃牛排其实是非常讲究的，精致的牛肉配上美味的香料，加以烹调，是款待尊贵客人的最佳美食。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="../new_html/news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<span class="news-line">
				<img src="../../static/img/news-line.png"/>
			</span>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="../../static/img/news-pic4.jpg"/>
				</dt>
				<dd class="newslist-txt">
					<a href="../new_html/news-con.html" class="newslist-font24">西餐代表 牛排的种类和吃法</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<p class="newslist-time">2016.12.25</p>
						</li>
						<li class="newslist-li">
							<a href="../new_html/news-con.html" class="newslist-con">提到牛排，脑子里就会想到焦棕褐色、表面扶着香甜的肉汁，切开后的粉红肉质，入口之后留下的满口肉香。吃牛排其实是非常讲究的，精致的牛肉配上美味的香料，加以烹调，是款待尊贵客人的最佳美食。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="../new_html/news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<span class="news-line">
				<img src="../../static/img/news-line.png"/>
			</span>
			<dl class="newslist-box clearfix">
				<dt class="newslist-pic">
					<img src="../../static/img/news-pic5.jpg"/>
				</dt>
				<dd class="newslist-txt">
					<a href="../new_html/news-con.html" class="newslist-font24">西餐代表 牛排的种类和吃法</a>
					<ul class="newslist-ul">
						<li class="newslist-li">
							<p class="newslist-time">2016.12.25</p>
						</li>
						<li class="newslist-li">
							<a href="../new_html/news-con.html" class="newslist-con">提到牛排，脑子里就会想到焦棕褐色、表面扶着香甜的肉汁，切开后的粉红肉质，入口之后留下的满口肉香。吃牛排其实是非常讲究的，精致的牛肉配上美味的香料，加以烹调，是款待尊贵客人的最佳美食。</a>
						</li>
						<li class="newslist-li"><a class="newslist-link" href="../new_html/news-con.html">&lt;阅读全文&gt;</a></li>
					</ul>
				</dd>
			</dl>
			<ul class="shop-paging clearfix">
				<li><a href="javascript:;" class="pag-item">&lt;</a></li>
				<li><a href="news.html" class="pag-item pag-active">1</a></li>
				<li><a href="javascript:;" class="pag-item">2</a></li>
				<li><a href="javascript:;" class="pag-item">3</a></li>
				<li><a href="javascript:;" class="pag-item">4</a></li>
				<li><a href="javascript:;" class="pag-item">&gt;</a></li>
			</ul>
		</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		//导航当前项切换
		$(".nav-item").click(function(){
			$(this).parent("li").siblings().children().removeClass("nav-active");
			//点击对象的父级（li）的兄弟级（li）的子集（a）移除类
			$(this).addClass("nav-active");
			//给点击对象添加类
		});
	</script>
{% endblock %}
